@import url('main.css');

body {
    background: #272727 !important;
    color: #cccccc;
}

.container :is(h1, h2, h3, h4, h5, h6) {
    color: #cccccc;
}

.small-text {
    color: #cccccc;
}

/* Navbar */
.bg-steel {
    background-color: #0f0f0f;
}

/* Post */

a.article-author {
    color: #cccccc;
}

.article-metadata {
    border-bottom: 1px solid #585858
}

a.article-title {
    color: #cccccc;
    text-decoration: none;
}

.content-section {
    background: #0f0f0f;
    border: 1px solid #585858;
    color: #cccccc;
}
